@media screen and (max-width: 850px) {
    nav ul {
        display: none;
    }
}

@media screen and (max-width: 760px) {
    main {
        flex-direction: column-reverse;
        text-align: center;
    }

    main .details {
        padding-right: 0;
    }

    main .details h1 {
        font-size: 1.8em;
    }

    main .image {
        margin-bottom: 30px;
    }
}